#root {
  margin: 0 auto;
  width: 100%;
  --main-padding: 8px;
}

.App {
  height: 100%;
  display: grid;
  gap: 12px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 75px 1fr 50px;
}

header {
  grid-area: header;
  padding: var(--main-padding);
}

main {
  grid-area: main;
  padding: var(--main-padding);
}

.biographies-table {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.biographies-table .cell {
  outline: 1px solid;
  padding: 4px;
}

footer {
  grid-area: footer;
  padding: var(--main-padding);
}
